<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBCa6z0-3HFR2aM8s6umDZzKgSo3EQRRzY</string>
	<key>GCM_SENDER_ID</key>
	<string>563903042508</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mechinetest</string>
	<key>PROJECT_ID</key>
	<string>grostore-8deaf</string>
	<key>STORAGE_BUCKET</key>
	<string>grostore-8deaf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:563903042508:ios:0a94c1f05fd21061dc0369</string>
</dict>
</plist>